# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
.vs/

# Rider
.idea/
*.sln.iml

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Secrets
secrets/

# Logs and stuff
generated_data/
logs/
__pycache__

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
temp/
