# This file is used by Dockerfile.airflow to install Python dependencies.
apache-airflow-providers-postgres==5.11.0
apache-airflow-providers-celery==3.7.1
apache-airflow-providers-apache-spark==4.7.0
apache-airflow-providers-amazon==8.20.0
redis==5.0.4
great-expectations==0.18.13